<div class="media">
  <div class="media-body">
    <h5 class="mt-0 mb-1">Media object</h5>
    Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
  </div>
  <img src="" class="ml-3" alt="...">
</div>


<div class="bg-white betweenArticles border-top">  
    <div class="container"> 
        <div class="media">            
            <div class="media-body align-self-center">
                <h3 class="mt-0">
                    The First Heading. <small class="text-muted">Will Catch Yor Eye</small>
                </h3>
                <p class="lead">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fucse dapibus, tellus ac cursus commodo.
                </p>
            </div>
            <img class="rounded-circle" width="345px" src="assets/img/1.jpg" alt="...">
        </div>
    </div>
</div>
