<div class="bg-white">  
    <div class="container">	
        <div class="media">
        <div class="media-body">
            <h5 class="mt-0 mb-1">Media object</h5>
            Done ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
            euismod semper. Praesent commdo cursus magna, vel scelerisque nisl consectetur.
            Fusce dapibus, tellus ac cursus commodo.
        </div>
        </div>
    </div>
  <img class="rounded-circle" src="assets/img/1.jpg" class="ml-3" alt="...">
</div>
