<!--<div class="bg-white">  
    <div class="container">	
        <div class="media-body">
            <h3 class="mt-0 mb-1">This First Heading <small class="text-muted">Will Catch Your Eye</small> </h3>
            Done ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
            euismod semper. Praesent commdo cursus magna, vel scelerisque nisl consectetur.
            Fusce dapibus, tellus ac cursus commodo.
        </div>
    </div>
  <img class="rounded-circle" src="assets/img/1.jpg" class="ml-3" alt="...">
</div>-->
<div class="bg-white">  
    <div class="container"> 
        <div class="media">
            <img class="rounded-circle" width="345px" src="assets/img/1.jpg" alt="...">
            <div class="media-body align-self-center">
                <h3 class="mt-0">
                    The First Heading. <small class="text-muted">Will Catch Yor Eye</small>
                </h3>
                <p class="lead">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fucse dapibus, tellus ac cursus commodo.
                </p>
            </div>
        </div>
    </div>
</div>
