<!-- your html code here -->
<div class="bg-white border-top betweenArticles">  
    <div class="container">	
        <div class="media">
            <img class="rounded-circle" src="assets/img/2.jpg" alt="...">
            <div class="media-body align-self-center">
                <h3 class="mt-0">
                    The Second Heading. <small class="text-muted">Is Pretty Cool Too.</small>
                </h3>
                <p class="lead">
                Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fucse dapibus, tellus ac cursus commodo.
                </p>
            </div>
        </div>
    </div>
</div>